.about-page {
    padding: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/aboutheader_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    min-height: 100vh; 
}
  
.about-page .aboutcontainer {
    max-width: 800px;
    margin: 11rem auto 0 auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
  
.about-page .header-content {
    padding: 2rem;
    border-radius: 10px;
}
  
.about-page-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
  
.about-page-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.weather-info {
    background-color: rgba(7, 7, 7, 0.178);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
  
.weather-info p {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.weather-info p:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .about-page-title {
        font-size: 40px;
    }

    .about-page .btn-groups .btn-item {
        font-size: 2.2rem;
        padding: 1.4rem 3.4rem;
    }
}

@media screen and (min-width: 992px) {
    .about-page-title {
        font-size: 48px;
    }
}